head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  style(type='text/css').
    body {
    margin:0;
    color:#333;
    }
    a {
    text-decoration:none;
    color:#006699;
    }
    p {
    margin:0px;
    }
    img {
    border:0;
    margin:0;
    }
    #container {
    width:540px;
    margin:0 auto;
    }
    #content {
    width:500px;
    margin:0 20px;
    }
    #header {
    border-bottom:1px solid #eaeaea;
    padding-top:10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:10px;
    }
    #title p{
    font-size:20px;
    font-family: "arial", "sans-serif";
    }
    #amazonLogo{
    width:107px;
    height:31px;
    }
    #verificationMsg {
    padding-left:0;
    padding-top:9px;
    padding-bottom:9px;
    }
    #verificationMsg p {
    font-size:14px;
    font-family: "arial", "sans-serif";
    }
    #verificationMsg .otp {
    font-size:18px;
    font-weight:bold;
    padding-top:18px;
    }
    #accountSecurity {
    padding-left:0;
    padding-top:9px;
    padding-bottom:9px;
    }
    #accountSecurity p {
    font-size:14px;
    font-family: "arial", "sans-serif";
    }
    #closing {
    padding-left:0;
    padding-top:9px;
    padding-bottom:9px;
    }
    #closing p {
    font-size:14px;
    font-family: "arial", "sans-serif";
    }
  title
table#container(align='center' cellspacing='0' cellpadding='0')
  tbody
    tr
      td
        table#content(cellspacing='0' cellpadding='0')
          tbody
            tr
              td#verificationMsg
                p To authenticate, please use the following One Time Password (OTP):
                p.otp 687198
            tr
              td#accountSecurity
                p
                  | Do not share this OTP with anyone. Entry takes your account security very seriously. Entry Customer Service will never ask you to disclose or verify your Entry password, OTP, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click on the link--instead, report the email to Entry for investigation.
                  | We hope to see you again soon.
            tr
              td#closing
                p
                  | Thanks for visiting Entry!
