<!DOCTYPE html>
<html>

<head>
	<title></title>
	<style>
		html {
			font-family: sans-serif;
			line-height: 1.15;
			-webkit-text-size-adjust: 100%;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		article,
		aside,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		main,
		nav,
		section {
			display: block;
		}

		body {
			margin: 2em;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			text-align: left;
			/* background-color: #fff; */
		}


		a {
			color: #007bff;
			text-decoration: none;
			background-color: transparent;
		}

		a:hover {
			color: #0056b3;
			text-decoration: underline;
		}

		a:not([href]) {
			color: inherit;
			text-decoration: none;
		}

		a:not([href]):hover {
			color: inherit;
			text-decoration: none;
		}

		text-primary {
			color: #007bff !important;
		}

		.rounded-pill {
			border-radius: 50rem !important;
		}

		.text-decoration-none {
			text-decoration: none !important;
		}

		.card {
			position: relative;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			min-width: 0;
			word-wrap: break-word;
			background-color: #fff;
			background-clip: border-box;
			border: 1px solid rgba(0, 0, 0, 0.125);
			border-radius: 0.25rem;
		}

		.card>hr {
			margin-right: 0;
			margin-left: 0;
		}

		.card>.list-group {
			border-top: inherit;
			border-bottom: inherit;
		}

		.card>.list-group:first-child {
			border-top-width: 0;
			border-top-left-radius: calc(0.25rem - 1px);
			border-top-right-radius: calc(0.25rem - 1px);
		}

		.card>.list-group:last-child {
			border-bottom-width: 0;
			border-bottom-right-radius: calc(0.25rem - 1px);
			border-bottom-left-radius: calc(0.25rem - 1px);
		}

		.card-body {
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			min-height: 1px;
			padding: 1.25rem;
		}

		.card-title {
			margin-bottom: 0.75rem;
		}

		.card-subtitle {
			margin-top: -0.375rem;
			margin-bottom: 0;
		}

		.card-text:last-child {
			margin-bottom: 0;
		}

		.card-link:hover {
			text-decoration: none;
		}

		.card-link+.card-link {
			margin-left: 1.25rem;
		}

		.card-header {
			padding: 0.75rem 1.25rem;
			margin-bottom: 0;
			background-color: rgba(0, 0, 0, 0.03);
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		}

		.card-header:first-child {
			border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
		}

		.card-header+.list-group .list-group-item:first-child {
			border-top: 0;
		}

		.card-footer {
			padding: 0.75rem 1.25rem;
			background-color: rgba(0, 0, 0, 0.03);
			border-top: 1px solid rgba(0, 0, 0, 0.125);
		}

		.card-footer:last-child {
			border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
		}

		.card-header-tabs {
			margin-right: -0.625rem;
			margin-bottom: -0.75rem;
			margin-left: -0.625rem;
			border-bottom: 0;
		}

		.card-header-pills {
			margin-right: -0.625rem;
			margin-left: -0.625rem;
		}

		.card-img-overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 1.25rem;
		}

		.card-img,
		.card-img-top,
		.card-img-bottom {
			-ms-flex-negative: 0;
			flex-shrink: 0;
			width: 100%;
		}

		.card-img,
		.card-img-top {
			border-top-left-radius: calc(0.25rem - 1px);
			border-top-right-radius: calc(0.25rem - 1px);
		}

		.card-img,
		.card-img-bottom {
			border-bottom-right-radius: calc(0.25rem - 1px);
			border-bottom-left-radius: calc(0.25rem - 1px);
		}

		.card-deck .card {
			margin-bottom: 15px;
		}

		@media (min-width: 576px) {
			.card-deck {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-flow: row wrap;
				flex-flow: row wrap;
				margin-right: -15px;
				margin-left: -15px;
			}

			.card-deck .card {
				-ms-flex: 1 0 0%;
				flex: 1 0 0%;
				margin-right: 15px;
				margin-bottom: 0;
				margin-left: 15px;
			}
		}

		.card-group>.card {
			margin-bottom: 15px;
		}

		@media (min-width: 576px) {
			.card-group {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-flow: row wrap;
				flex-flow: row wrap;
			}

			.card-group>.card {
				-ms-flex: 1 0 0%;
				flex: 1 0 0%;
				margin-bottom: 0;
			}

			.card-group>.card+.card {
				margin-left: 0;
				border-left: 0;
			}

			.card-group>.card:not(:last-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			.card-group>.card:not(:last-child) .card-img-top,
			.card-group>.card:not(:last-child) .card-header {
				border-top-right-radius: 0;
			}

			.card-group>.card:not(:last-child) .card-img-bottom,
			.card-group>.card:not(:last-child) .card-footer {
				border-bottom-right-radius: 0;
			}

			.card-group>.card:not(:first-child) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			.card-group>.card:not(:first-child) .card-img-top,
			.card-group>.card:not(:first-child) .card-header {
				border-top-left-radius: 0;
			}

			.card-group>.card:not(:first-child) .card-img-bottom,
			.card-group>.card:not(:first-child) .card-footer {
				border-bottom-left-radius: 0;
			}
		}

		.card-columns .card {
			margin-bottom: 0.75rem;
		}

		.shake {
			animation: shake-animation 5s ease infinite;
			transform-origin: 50% 50%;
		}

		@keyframes shake-animation {
			0% {
				transform: translate(0, 0)
			}

			1.78571% {
				transform: translate(5px, 0)
			}

			3.57143% {
				transform: translate(1px, 5px)
			}

			5.35714% {
				transform: translate(5px, 2px)
			}

			7.14286% {
				transform: translate(3px, 5px)
			}

			8.92857% {
				transform: translate(5px, 2px)
			}

			10.71429% {
				transform: translate(1px, 5px)
			}

			100% {
				transform: translate(0, 0)
			}
		}
	</style>
</head>

<body>
	<center>
		<div style="background-color:#bdc3c7; padding:100px">
			<div style="width:500px">
				<center>
					<div class="card">
						<div class="card-body">
							<table style="max-width:500px">
								<tr>
									<td style="text-align:center">
										<img src="https://camo.githubusercontent.com/8336b25819b1cb41d4ce668193afa8a8a239deb5/68747470733a2f2f656e7472792e73686f772f696d616765732f6c6f676f5f6f6e6c792e706e673f7261773d74727565" class="img-fluid shake" style="width: 10rem;">
									</td>
								</tr>
								<tr>
									<td style="">
										<p>
										<h2>Hey {{fullname}}, </h2>
										<p>
											Terimakasih telah melakukan registrasi pada Aplikasi Entry, silakan melakukan
											verifikasi Akun pada link dibawah ini. Untuk meng-aktivasi dan menjaga keaslian
											Akun Anda.
										</p>
										<p>
											Best Regards, <br />
											Manajemen Entry
										</p>
										</p>
										<center>
											<table width="100%">
												<tr>
													<td colspan="2" style="text-align:center">
														<center>
															<table>
																<tr>
																	<td style="border:none;border-radius:3px;color:white;padding:10px 15px" align="center" valign="middle"
																		bgcolor="#3498db">
																		<a href="{{fullurl}}"
																			style="text-decoration:none;line-height:100%;background:#3498db;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px"
																			target="_blank"
																		>
																			Verifikasi Akun
																		</a>
																	</td>
																</tr>
															</table>
														</center>
													</td>
												</tr>
												<tr>
													<td style="text-align:center">
														<a href="" class="text-decoration-none text-primary">Web Entry</a>
													</td>
													<td style="text-align:center">
														<a href="" class="text-decoration-none text-primary">Apps Entry</a>
													</td>
												</tr>
											</table>
										</center>
									</td>
								</tr>
								<tr>
									<td>
										<hr />
									</td>
								</tr>
								<tr>
									<td>
										<small>
											<p>
												Need help? Contact our support team or hit us up on Instagram <a
													href="https://instagram.com/entryshow" target="_blank">@entryshow</a>.
											</p>
											<p style="transform:scale(.5)">
												<b>Email Created : {{created}}</b>
											</p>
										</small>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</center>
			</div>
		</div>
	</center>

</body>

</html>