<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:0 auto;max-width:620px">
    <tbody>
        <tr>
            <td align="left" valign="top" style="padding:0 10px">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                      <tr>
                        <td height="20" style="font-size:1px;line-height:1px">&nbsp;</td>
                      </tr>
                    </tbody>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="padding:40px 30px;background:#ffffff" bgcolor="#ffffff" valign="top">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-family:'Fira Sans',Helvetica,Arial,sans-serif;font-size:32px;font-weight:800;line-height:46px;letter-spacing:-0.6px;color:#07122b;padding:0 10px" valign="top">
                                                                    Verifikasi Request Password
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="0" style="line-height:1px;font-size:1px">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-family:'Fira Sans',Helvetica,Arial,sans-serif;font-size:14px;line-height:30px;letter-spacing:-0.2px;color:#07122b;padding:0 10px" valign="top">
                                                                Berikut adalah Kode OTP Anda
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="25" style="line-height:1px;font-size:1px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Fira Sans',Helvetica,Arial,sans-serif;font-size:14px;line-height:30px;letter-spacing:-0.2px;color:#07122b;padding:0 10px" valign="top"><b>
                                                            {{OTP}}
                                                            </b></td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <td height="25" style="line-height:1px;font-size:1px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Fira Sans',Helvetica,Arial,sans-serif;letter-spacing:-0.2px;line-height:24px;font-size:14px;text-align:justify" valign="top">
                                                                Tolong masukkan Kode OTP Tersebut pada Aplikasi untuk validasi Pengubahan Password baru. Terimakasih.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                    <tbody>
                                        <tr>
                                            <td style="padding:10px 30px;background-color:#ffffff" valign="top" bgcolor="#ffffff" role="presentation">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:20px" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="font-family:'Fira Sans',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;letter-spacing:-0.2px;color:#07122b" valign="top">
                                                                                <div style="text-align:center">
                                                                                    <span style="font-size:11px">
                                                                                        <strong>
                                                                                            <span style="font-size:12px;color:#040404">
                                                                                                Entry Show
                                                                                            </span>
                                                                                        </strong>
                                                                                    </span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="0" style="line-height:1px;font-size:1px">&nbsp;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>